{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<div class="application-list__status__wrapper">
  <div class="container application-list__status__container">
    <div class="application-list__status__item">
      <div class="application-list__status__label">
        Hakemus
      </div>
      <div class="application-list__status__value">
      {{ statusTag }}
      </div>
    </div>
    <div class="application-list__status__item">
      <div class="application-list__status__label">
        Tallennettu
      </div>
      <div class="application-list__status__value">
        <div>{{ date }}</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1>{{ title }}</h1>
  <div>
      <ul>
          {% for page in errors %}
              {% for element in page %}
                  <li>{{ element }}</li>
              {% endfor %}
          {% endfor %}
      </ul>
  </div>

  {{ form }}
</div>
