{#
/**
 * @file
 * Default theme implementation for a webform submission form.
 *
 * Available variables:
 * - form: The webform submission form.
 *
 * @ingroup themeable
 */
#}
<div class="application-list__status__wrapper">
  <div class="container application-list__status__container">
    <div class="application-list__status__item">
      <div class="application-list__status__label">
        Hakemus
      </div>
      <div class="application-list__status__value">
      {{ statusTag }}
      </div>
    </div>
    <div class="application-list__status__item">
      <div class="application-list__status__label">
        Tallennettu
      </div>
      <div class="application-list__status__value">
        <div>{{ date }}</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1>{{ title }}</h1>

  {% set has_errors = false %}
  {% for page in errors %}
    {% if page|length > 1 %}
      {% set has_errors = true %}
    {% endif %}
  {% endfor %}

  {% if has_errors is same as true %}
  <section aria-label="Notification" class="hds-notification hds-notification--error">
    <div class="hds-notification__content">
      <div class="hds-notification__label" role="heading" aria-level="2">
        <span class="hel-icon hel-icon--alert-circle-fill" aria-hidden="true"></span>
        <span>{{ 'Missing or incomplete information'|t }}</span>
      </div>
      <div class="hds-notification__body">
        <ul>
          {% for page in errors %}
            {% for name,element in page %}
              {% if name is not same as 'title' %}
                <li>
                  {{ 'Error in page'|t }} {{ page['title'] }}: {{ element }}
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  {% endif %}

  {{ form }}
</div>
