<div class="grants-profile--basicinfo">
  <div class="container">
    <h3>{{ "Basic details"|t({}, {'context': 'Yksityishenkilön asiointi'}) }}</h3>
    <div class="grants-profile-prh-info">
      <p>{{ "The information has been retrieved from your Helsinki profile. You need to go to your Helsinki profile to edit this information. When you have edited your information in the Helsinki profile, remember to update this field."|t }}</p>
    </div>
    <hr />
    <dl class="grants-profile--wrapper">
      <div class="grants-profile--wrapper-item">
        <dt><strong>{{ "First name"|t }}</strong></dt>
        <dd class="grants-profile--item grants-profile-company-name">{{ myProfile.verifiedPersonalInformation.firstName }}</dd>
      </div>
      <div class="grants-profile--wrapper-item">
        <dt><strong>{{ "Last name"|t }}</strong></dt>
        <dd class="grants-profile-item">{{ myProfile.verifiedPersonalInformation.lastName }}</dd>
      </div>
      <div class="grants-profile--wrapper-item">
        <dt><strong>{{ "Social security number"|t({}, {'context': 'Yksityishenkilön asiointi'}) }}</strong></dt>
        <dd class="grants-profile-item">{{ myProfile.verifiedPersonalInformation.nationalIdentificationNumber }}</dd>
      </div>
      <div class="grants-profile--wrapper-item">
        <dt><strong>{{ "Email"|t }}</strong></dt>
        <dd class="grants-profile-item">{{ myProfile.primaryEmail.email }}</dd>
      </div>
    </dl>
    <hr />
    {% if editHelsinkiProfileLink %}
      {{ editHelsinkiProfileLink }} ({{ "The link opens in a new tab"|t }})
    {% endif %}
  </div>
</div>
