
<div class="container">
  <h2>{{ "Association information"|t }}</h2>
  <p class="grants-profile--infotext">{{ "To apply for grants, the community data must be completed. When you submit a grant application, the information you have provided will be filled in automatically."|t }}</p>
  <div class="grants-profile">
    {{ basic_info }}
    <h3 class="info-grants">{{ "Add association information"|t }}</h3>
    <div class="grants-profile--extrainfo">
      {{ form }}
    </div>
  </div>
</div>

