<div class="container">
  <h2>{{ "Association information"|t }}</h2>
  <p class="grants-profile--infotext">{{ "To apply for grants, the community data must be completed. When you submit a grant application, the information you have provided will be filled in automatically."|t }}</p>
  <div class="grants-profile">
    {{ basic_info }}
    <h3 class="info-grants">{{ "Association information in Grants"|t }}</h3>
    <div class="grants-profile--extrainfo">
      <dl class="webform-section-grid-wrapper">
        <dt class="webform-section-title" id="yhteison-nimi">{{ "Name of association"|t }}</dt>
        <dd class="webform-section-wrapper">
          {{ profile.companyName }}
        </dd>
        <dt class="webform-section-title" id="addresses">{{ 'Addresses'|t }}</dt>
        <div class="webform-section-wrapper grants-profile--officials">
          {% for address in profile.addresses %}
            <dd class="grants-profile--officials-item">
              {{ address.street }},<br>
              {{ address.postCode }} {{ address.city }}
            </dd>
          {% endfor %}
        </div>
        <dt class="webform-section-title" id="officials-3">{{ 'Bank account numbers'|t }}</dt>
        <div class="webform-section-wrapper grants-profile--officials">
          {% for bankaccount in profile.bankAccounts %}
            <dd class="grants-profile--officials-item">
              {{ bankaccount.bankAccount }}
            </dd>
          {% endfor %}
        </div>
        <dt class="webform-section-title" id="officials">{{ 'Persons responsible for operations'|t }}</dt>
        <div class="webform-section-wrapper grants-profile--officials">
          {% for official in profile.officials %}
            <dd class="grants-profile--officials-item">
              <span>
                <strong>{{ official.name }}</strong><br>
                {{ official.phone }}<br>
                {{ official.email }}
              </span>
            </dd>
          {% endfor %}
        </div>
      </dl>
    </div>
    <div class="grants-profile--links">
      {{ editProfileLink }}
      {{ deleteProfileLink }}
    </div>
  </div>
</div>
